  /* ==== FOOTER ==== */
    footer{background-color:#333;color:white;padding:40px 0 20px;margin-top:40px;}
    .footer-content{display:grid;grid-template-columns:repeat(5,1fr);gap:20px;margin-bottom:30px;padding:0 20px;max-width:1200px;margin-left:auto;margin-right:auto;}
    .footer-section h3{margin-bottom:15px;color:#f0efeb;font-size:18px;}
    .footer-section ul{list-style:none;padding-left:0;}
    .footer-section ul li{margin-bottom:8px;}
    .footer-section ul li a{color:#ddd;text-decoration:none;transition:color 0.3s;}
    .footer-section ul li a:hover{color:#f6a700;}
    .footer-bottom{text-align:left;padding-top:10px;max-width:1200px;margin:0 auto;padding-left:20px;color:#ccc;font-size:14px;}
    .social-icons{display:flex;gap:10px;margin-top:10px;}
    .social-icons img{width:24px;height:24px;border-radius:3px;transition:transform 0.2s;}
    .social-icons img:hover{transform:scale(1.1);}

@media (max-width: 768px) {
         .footer-content {
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        
        }
      
    .footer-section:last-child {
        margin-left: 100%;           
        text-align: center;    
        display: flex;
        flex-direction: column;  
        align-items: center;      
    }

    .footer-section:last-child .social-icons {
        justify-content: center;  
        gap: 10px;                
    }
}