*{margin:0;padding:0;box-sizing:border-box;}
    body{font-family:Arial,sans-serif;background:#fff;color:#222;}
    
    /* ==== BARRA SUPERIOR */
    .barra{background:#985104;color:#fff;display:flex;justify-content:flex-end;align-items:center;padding:5px 20px;font-size:14px;}
    .barra .iconos img{width:18px;height:18px;border-radius:3px;margin-left:12px;cursor:pointer;transition:transform 0.2s;}
    .barra .iconos img:hover{transform:scale(1.1);}
    
    /* ==== HEADER */
    header{background:#f6a700;text-align:center;padding:10px 0 0;}
    .header-content{display:flex;justify-content:center;align-items:center;gap:25px;padding:5px 15px;}
    .header-content input{width:400px;padding:6px;border:none;border-radius:15px;}
    .header-content .titulo{flex:1;text-align:center;font-family:Impact,'Anton',sans-serif;font-size:40px;color:#222;letter-spacing:2px;}
    
    /* ==== MENÚ  */
    nav{display:flex;justify-content:flex-start;background:#f6a700;}
    nav a{color:white;text-decoration:none;font-weight:bold;font-size:15px;display:inline-block;padding:12px 25px;transition:background 0.3s;}
    nav a.activo{background:#f6a700;color:#f1eaea;margin-left:30px;}
    nav a.activo:hover{background:#977324;color:#000;transform:scale(1.08);}
    .menu-derecha{background:#222;display:flex;flex:1;justify-content:space-between;padding:0 40px;}
    .menu-derecha a{color:rgb(185, 170, 170);text-decoration:none;font-weight:bold;font-size:15px;padding:12px 25px;transition:background 0.3s;}
    .menu-derecha a:hover{background:#977324;color:#000;}
    
    /* ==== BANNER */
    .banner{display:flex;justify-content:center;width:100%;}
    .banner img{width:33.333%;height: 450px; object-fit: contain;}
    
    /* ==== CATEGORÍAS */
    .categorias{display:flex;justify-content:space-between;align-items:stretch;background:#333;padding:40px 40px;gap:8px;overflow-x:auto;}
    .categorias div{text-align:center;color:white;font-size:13px;flex:1;min-width:100px;}
    .categorias img{width:135px;height:135px;object-fit:contain;border-radius:4px;margin-bottom:5px;display:block;margin-left:auto;margin-right:auto;transition:transform 0.3s;background-color:white;padding:5px;}
    .categorias img:hover{transform:scale(1.08);box-shadow:0 0 8px rgba(246,167,0,0.7);}
    .categorias p{text-align:center;color:rgb(185, 170, 170);margin-top:3px;line-height:1.1;font-weight:bold;}

    /* ==== NUEVOS PRODUCTOS CON CARRUSEL */
    .nuevos-productos{padding:30px 40px;text-align:center;}
    .nuevos-productos h2,
    .recomendados h2{
      background-color:#f59b00;color:white;text-align:center;
      padding:10px 0;font-size:15px;font-family:Arial; font-weight: 100;
      letter-spacing:1px;border-radius:5px;margin:25px 0;box-shadow:0 3px 6px rgba(0,0,0,0.2);
    }

    .carrusel-container{
      display:flex;align-items:center;justify-content:center;position:relative;overflow:hidden;margin:0 auto;width:90%;
    }
    .carrusel{
      display:flex;gap:20px;overflow-x:auto;scroll-behavior:smooth;padding:15px 0;
    }
    .carrusel::-webkit-scrollbar{display:none;}
    .carrusel-btn{
      background:white;border:1px solid #ddd;;width:40px;height:40px;font-size:22px;
      color:#c82b2b;border-radius:50%;cursor:pointer;position:absolute;top:50%;
      transform:translateY(-50%);z-index:2;
    }
    #prev{left:0;}#next{right:0;}

    .producto{flex:0 0 auto;width:200px;border-radius:8px;padding:10px;transition:transform 0.3s,box-shadow 0.3s;}
    .producto img{width:100%;height:160px;object-fit:cover;border-radius:5px;}
    .producto p{margin-top:8px;font-weight:bold;font-size:14px;}
    .producto:hover{transform:translateY(-5px);box-shadow:0 4px 10px rgba(0,0,0,0.2);}

    /* ==== PRODUCTOS RECOMENDADOS */
    .recomendados{padding:30px 40px;text-align:center;background-color:white;}
    .recomendados-grid{display:flex;justify-content:center;gap:20px;flex-wrap:wrap;}
    .producto-recomendado{flex:0 0 auto;width:200px;text-align:center;}
    .producto-recomendado img{width:100%;height:160px;object-fit:cover;border-radius:5px;box-shadow: none;}
    .producto-recomendado h3{font-size:16px;margin-bottom:8px;color:#333;}
    .producto-recomendado .precio{font-weight:bold;color:#201f1d;font-size:18px;margin-bottom:5px;}
    .producto-recomendado .codigo{font-size:12px;color:#777;}
    .producto-recomendado:hover{transform:translateY(-5px);box-shadow:0 4px 10px rgba(0,0,0,0.2);}

    /* ==== SECCIÓN DE MARCA */
    .marca-section{background:white;color:#222;padding:40px 20px;text-align:center;margin:40px 0;}
    .marca-container{max-width:1200px;margin:0 auto;}
    .marca-titulo{font-size:24px;font-weight:800;margin-bottom:30px;color:#030303;text-transform:uppercase;letter-spacing:1px;}
    .marca-imagenes{display:flex;justify-content:center;align-items:center;gap:20px;margin:30px 0;}
    .marca-imagen{flex:1;max-width:340px;}
    .marca-imagen img{width:110%;height:auto;display:block;border-radius:5px;box-shadow:none;transition:transform 0.3s;}
    .marca-imagen img:hover{transform:scale(1.05);}

  
    .precio {color: black; font-size: 14px;}
    .precio .num {font-size: 20px; font-weight: bold;}
    .codigo {color: rgb(116, 111, 111); font-size: 13px;}

    /* ==== FOOTER ==== */
    footer{background-color:#333;color:white;padding:40px 0 20px;margin-top:40px;}
    .footer-content{display:grid;grid-template-columns:repeat(5,1fr);gap:20px;margin-bottom:30px;padding:0 20px;max-width:1200px;margin-left:auto;margin-right:auto;}
    .footer-section h3{margin-bottom:15px;color:#f0efeb;font-size:18px;}
    .footer-section ul{list-style:none;padding-left:0;}
    .footer-section ul li{margin-bottom:8px;}
    .footer-section ul li a{color:#ddd;text-decoration:none;transition:color 0.3s;}
    .footer-section ul li a:hover{color:#f6a700;}
    .footer-bottom{text-align:left;padding-top:10px;max-width:1200px;margin:0 auto;padding-left:20px;color:#ccc;font-size:14px;}
    .social-icons{display:flex;gap:10px;margin-top:10px;}
    .social-icons img{width:24px;height:24px;border-radius:3px;transition:transform 0.2s;}
    .social-icons img:hover{transform:scale(1.1);}

    /* ==== ELEMENTOS RESPONSIVE (SOLO EN MÓVIL) ==== */
    
    /* Botón Hamburguesa */
    .hamburger-btn {
        display: none;
        background: none;
        border: none;
        font-size: 32px;
        color: #222;
        cursor: pointer;
        padding: 8px 12px;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        height: 100%;
       
        align-items: center;
        justify-content: center;
    }

    .search-container {
        position: relative;
        width: 100%;
    }

    @media (max-width: 768px) {
      
        .barra {
            display: none;
        }
        
     
        header {
            padding: 0;
            position: relative;
        }
        
        .header-content {
            flex-direction: column;
            padding: 0;
            gap: 0;
        }
        
     
        .header-content .titulo {
            order: 1;
            width: 100%;
            padding: 15px 0;
            font-size: 32px;
            text-align: center;
            background: #f6a700;
        }
        
   
        .search-container {
            order: 2;
            width: 100%;
            position: relative;
            background: #f6a700;
            padding: 0;
        }
        

        .header-content input {
            width: 100%;
            border-radius: 0;
            padding: 15px 60px 15px 15px;
            margin: 0;
            border: none;
            font-size: 16px;
            height: 50px;
        }
        

        .hamburger-btn {
            display: flex;
            background: rgb(0, 0, 0);
            border-radius: 50%;
            width: 50px;
            font-size: 28px;
            border: 2px solid #fff;
        }
        
        .hamburger-btn:hover {
            background: #e69500;
        }
        
        /* Ocultar menú normal en móvil */
        .menu-derecha {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            background: #222;
            flex-direction: column;
            z-index: 1000;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
        }
        
        .menu-derecha.active {
            display: flex;
        }
        
        .menu-derecha a {
            padding: 15px 20px;
            border-bottom: 1px solid #444;
            text-align: left;
        }
        
       
        nav a.activo {
            display: none;
        }
        
     
        .banner img {
            display: none;
        }
        
        .banner img:nth-child(2) {
            display: block;
            width: 100%;
        }
        
        .categorias {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px; 
            padding: 15px 10px;
            justify-content: center;
            align-items: center;
        }
        
        .categorias div {
            flex: none;
            min-width: auto;
            margin-bottom: 0;
        }
        
        .categorias img {
            width: 110px;
            height: 110px; 
        }
        
        .categorias p {
            font-size: 12px;
            margin-top: 5px;
        }
        
       
        .nuevos-productos {
            display: none;
        }
        
    
        .recomendados {
            padding: 15px 10px 10px; 
            margin-top: 0; 
        }
        
        .recomendados h2 {
            margin: 10px 0; 
            font-size: 14px; 
            padding: 8px 0; 
        }
        
        .recomendados-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
            justify-content: center;
        }
        
        .producto-recomendado {
            width: 100%;
            max-width: 170px;
            justify-self: center;
        }
        
        .producto-recomendado img {
            height: 130px;
        }
        
        .producto-recomendado h3 {
            font-size: 13px;
        }
        
     
        .marca-section {
            padding-top: 10px; 
            margin-top: 0; 
        }
        
        .marca-titulo {
            display: none;
        }
        
        .marca-imagenes {
            flex-direction: column;
            gap: 15px;
            margin: 10px 0 0 0;
        }
        
        .marca-imagen {
            max-width: 100%;
        }
        
        .marca-imagen img {
            width: 100%;
        }
        
     
        .footer-content {
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        
        }
      
    .footer-section:last-child {
        margin-left: 100%;           
        text-align: center;    
        display: flex;
        flex-direction: column;  
        align-items: center;      
    }

    .footer-section:last-child .social-icons {
        justify-content: center;  
        gap: 10px;                
    }


    }

    @media (max-width: 480px) {
        .header-content .titulo {
            font-size: 28px;
        }
        
        .categorias {
            grid-template-columns: repeat(3, 1fr);
            gap: 6px; 
        }
        
        .categorias img {
            width: 95px;
            height: 95px;
        }
        
        .categorias p {
            font-size: 11px;
        }
        
        .recomendados {
            padding: 10px 10px; 
        }
        
        .recomendados-grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
        }
        
        .producto-recomendado {
            max-width: 150px;
        }
        
        .producto-recomendado img {
            height: 110px;
        }
        
        .footer-content {
            grid-template-columns: 1fr;
        }
    }
